/* #001021 #034748 #1481BA #0CAADC #1BC0EE */

h1 {
    color: #1481BA;
    background-color: #001021;
    padding: 20px;
    padding-left: 40px;
}

h3 {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h6 {
    margin: 0px;

}

ul {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    background-color: #001021;
    color: #1481BA;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 20px;
    text-align: center;
}

#me {
    width: 110px;
    float: right;
}

#wowitsathing {
    background-color: #0CAADC;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    max-width: 800px;
}