h1 h3 p{
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    padding-left: 30px;
    padding-right: 30px;
}

#etsy {
    width: 300px;
}

#amazon {
    width: 300px;
}

#craigslist {
    width: 300px;
}

.body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
}
