header {
    background-color: #001021;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer {
    background-color: #001021;
    color: #1481BA;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 5px;
    text-align: center;
}

body {
    font-family: 'Merriweather', serif;
    max-width: 800px;
    margin: auto;
}

main {
    background-color: #1481BA;
    padding: 5px;
}

nav {
    margin: 0 auto;
    max-width: 800px;
    background-color: #001021;
    color: white;
    padding: 5px;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a, .navigation a:visited {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    background-color: white;
    color: #1481BA;
}

.responsive li {
    display: block;
}

.container {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.sections {
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: white;
}

#page-title {
    color: white;
    margin-bottom: 5px;
}

#slogan {
    color: #1481BA;
    margin-top: 0px;
}

#contact-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}