header {
    background-color: #001021;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer {
    background-color: #001021;
    color: #1481BA;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.sections {
    background-color: gray;
    margin: 20px;
    padding: 20px;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: white;
}

#page-title {
    color: white;
    margin-bottom: 5px;
}

#slogan {
    color: #1481BA;
    margin-top: 0px;
}

#navigation {
    padding: 20px;
}