body {
    font-family: 'Merriweather', serif;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    background-color: #9FD6F3;
}

header {
    background-color: #15395F;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer {
    background-color: #15395F;
    color: #9FD6F3;
    font-family: 'Merriweather', serif;
    padding: 5px;
    text-align: center;
}

main {
    background-color: #1481BA;
    padding: 5px;
}

fieldset {
    margin: 20px;
    background-color: white;
    border-style: solid 1px;
    padding: 20px;
    font-weight: bold;
}

label, input, select, span, datalist {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    margin: 0 auto;
    background-color: #15395F;
    color: white;
    padding: 10px;
}

h1 {
    color: #001021;
    margin-left: 25px;
}

h2, h3 {
    color: #001021;
    margin: 10px;
}

p {
    margin: 10px;
}

img {
    width: 400px;
    height: 300px;

    filter: blur(0em);
    transition: filter 0.5s;
}

img [data-src] {
    filter: blur(0.2em);
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
    margin-top: 10px;
}

div.info {
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 20px;
}

div.events {
    margin: 20px;
    background-color: white;
}

section {
    background-color: white;
    padding: 20px;
    text-align: center;
}

input.noSpinner::-webkit-outer-spin-button,
input.noSpinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.noSpinner[type=number] {
    -moz-appearance: textfield;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    margin: auto;
    margin-top: 50px;
    color: #001021;
}



.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a, .navigation a:visited {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    background-color: white;
    padding: 5px;
    color: #1481BA;
}

.responsive li {
    display: block;
}

.container {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.formHeader {
    font-size: 1.5em;
    background-color: white;
    padding: 5px;
    border: solid 1px;
}

.centering {
    vertical-align: middle;
}

.sections {
    background-color: white;
    margin: 20px;
    padding: 10px;
}

.article {
    padding: 20px;
}

.section {
    border-style: solid;
    margin: 10px;
    background-color: white;
}

.events {
    background-color: white;
    padding: 20px;
}

.page-title {
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.infoImgs {
    height: auto;
    width: 100%;
}

.galleryBody {
    max-width: none;
}

.topRow {
    background-color: #15395F;
    color: white;
}

.bottomRow {
    background-color: #9FD6F3;
}



#logo {
    width: 100px;
    height: 100px;
    background-color: white;
}

#slogan {
    color: #9FD6F3;
    margin-top: 0px;
}

#contact-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    color: #034748;
    margin: 20px;
}

#hero1 {
    background-image: url("../imgs/Hero-Image.jpg");
    background-size: cover;
    padding: 20px;
    margin: 20px;
}

#hero2 {
    background-image: url("../imgs/Hero-Image-2.jpg");
    background-size: cover;
    padding: 20px;
    margin: 20px;
}

#hero3 {
    background-image: url("../imgs/Hero-Image-3.jpg");
    background-size: cover;
    padding: 20px;
    margin: 20px;
}

#summary {
    background-color: rgba(255, 255, 255, 0.7);
    color: #001021;
    font-size: .75em;
    padding: 5px;
    width: 25%;
    height: 25%;
}

#article-img {
    width: 50%;
    float: right;
    margin: 20 0 20 20;
}

#preston {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-left: 0px;
}

#images {
    display: grid;
    grid-template-columns: 423px;
    margin: auto;
}

#displayLvl {
    color: #61B2DC;
}

#subButton {
    text-align: center;
    margin: 20px 0px 5px 0px;
}

#thankYou {
    text-align: center;
}

#welcomeMsg {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}